{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-use-before-define": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0
  }
}
